@media all and (max-width: 900px) {
    div#PC-header {
        display: none;
    }

    div#Mobile-header {
        display: block;
    }

    div#Mobile-nav ul {
        display: flex;
        float: right;
    }

    div#Mobile-header nav {
        clear: right;
    }

    div#Mobile-nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        box-shadow: inset 0 -1px 0 0 #e5e5e5;
    }

    .Mobile-slide{
        display:none;
        width: 0px;
    }
    .Mobile-slide.opne{
        display:block;
        transition: .5s;
    }

    div.Mobile-back{
    background-color: rgb(0,0,0,0.5);
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    }

    ul#Mobile-menu {
        position: fixed;
        top: 0;
        right: 0px;
        z-index: 3;
        /* width: 29%; */
        height: 594px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    li.Mobile-item {
        margin-left: auto;
        width: 200px;
        background-color: #ccc;
    }

    a.Mobile-link {
        display: inline-block;
        width: 100%;
        padding: 15px;
    }

    div#search-bar {
        isplay: none;
        width: 100%;
        height: 100%;
        background-color: white;
        padding-top: 20px;
        position: fixed;
        top: 0px;
    }

    div#search-bar input {
        width: 100%;
        padding-left: 80px;
    }

    div#search-bar button {
        position: absolute;
        font-size: 18px;
    }
    button#search2 {
        left: 0;
        top: 20px;
    }
    button#close {
        top: 20px;
        right: 0px;
    }
    div#search-bar i {
        padding: 11px 10px;
        margin-left: 25px;
    }
}

@media all and (max-width: 650px) {}
