@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-family: 'Noto Sans JP';
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

img {
    object-fit: cover;
}

nav {}

li {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: black;
}

#login-nav {
    height: 40px;
    line-height: 40px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    font-size: 12px;
    padding-right: 20px;
}

#login-nav ul {
    display: flex;
    float: right;
}

.fas {
    padding: 5px;
    margin-left: 10px;
}

.sub-list {
    padding: 10px 13px;
}

input {
    border-radius: 0px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 185px;
}

button {
    height: 30px;
    border: none;
    background-color: transparent;
    width: 20px;
    cursor: pointer;
    position: relative;
    left: -30px;
}

.bottom-hover:hover {
    box-shadow: inset 0 -3px 0 0px black;
}

#help-list {
    font-size: 12px;
    height: 200px;
    width: 140px;
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 2;
    border: 1px solid #e5e5e5;
}

#help-list ul {
    width: 100%;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
}

#help-list li {
    height: 30px;
}

#help-list li:first-child {
    padding-top: 0;
}

.help-link:hover {
    opacity: 0.5;
}

#header-menu {
    line-height: 80px;
    height: 80px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;

}

#title-logo {
    position: absolute;
    left: 0;
}

#top-list ul {
    text-align: center;
}

#top-list li {

    display: inline-block;
}

#top-list a {
    padding: 0 40px;
    display: inline-block;
    font-weight: bold;
}

#header-menu form {
    position: absolute;
    top: 40px;
    right: 0;
}

#top-item {
    margin-top: 125px;
    text-align: center;
}

a.btn1,
.btn2 {
    display: block;
    width: 230px;
    height: 45px;
    line-height: 45px;
    border: 1px solid;
    border-radius: 45px;
    margin: 65px auto 0;
    text-align: center;
}

a.btn2 {
    color: white;
    background-color: black;
    border: none;
}

#scd-item {
    margin-top: 135px;
    text-align: center;
}

#scd-img {
    display: inline-flex;
}

#top-bottom {
    width: min-content;
}

#top-bottom img {
    vertical-align: bottom;
}

#top,
#bottom {
    margin-left: 20px;
}

#bottom {
    margin-top: 20px;
}

#scd-btn {
    display: flex;

}

#scd-btn .btn1 {
    margin-top: 65px;
    margin-right: 10px;
}

#scd-btn .btn2 {
    margin-top: 65px;
    margin-left: 10px;
}

#thd-item {
    display: flex;
    justify-content: center;
    margin: 135px 20px 0;
}

#thd-item img {
    vertical-align: bottom;
}


#MEN,
#WOMEN,
#KIDS {
    position: relative;

}

#WOMEN {
    margin: 0 20px;
}

.sex {
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}

#thd-item .btn2 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#Popularity {
    margin-top: 125px;
}

#Popularity ul {
    overflow-x: auto;
    white-space: nowrap;

}

#Popularity li {
    display: inline-block;
    width: 50%;
}

footer {
    padding: 50px 20px 0;
    background-color: black;
}

#footer-body {
    display: flex;
    padding-bottom: 25px;
}

#footer-list-group {
    width: 70%;
}

#footer-list-group ul {
    display: inline-block;
    vertical-align: top;
}

.footer-list {
    padding-right: 15px;
}

.footer-link {
    margin-bottom: 5px;
}

.footer-link > a {
    color: #7e7e7e;
    font-size: 13px;
}

.footer-link > a:hover {
    color: white;
}

.footer-link.footer-accordion > a {
    color: white;
    font-size: 16px;
}

.footer-link.footer-link-header > a {
    color: white;
    font-size: 16px;
}

#sns-icon {
    height: 100%;
    width: 30%;
    text-align: right;
}

#sns-icon li {
    display: inline-block;
}

#sns-icon i {
    color: #7e7e7e;
    font-size: 25px;
    margin-right: 10px;
}

#sns-icon i:hover {
    color: white;
}

#sub-footer-list {
    text-align: right;
    border-top: 1px solid #7e7e7e;
}

#sub-footer-list li {
    display: inline-block;
}

#sub-footer-list a {
    font-size: 12px;
    margin-right: 8px;
}
